@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  padding-block-start: rem(128);
  padding-inline: rem(25);
  position: relative;
  min-height: 100vh;
  font-family: var(--ff-sans);
  background-color: var(--clr-blue-950);
  color: var(--clr-white);
  background-image: url('../../images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @include breakpoint(tablet) {
    background-image: url('../../images/bg-desktop.png');
    background-position: bottom center;
    background-size: contain;
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    gap: rem(32);
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: rem(1);
}
