@use '../util' as *;

:root {
  // Colors
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;

  --clr-blue-950: 229 57% 11%;
  --clr-blue-900: 224 61% 15%;
  --clr-blue-850: 228 56% 26%;
  --clr-blue-600: 228 55% 11%;
  --clr-blue-200: 243 100% 93%;

  // Gradients
  --grad-blue: linear-gradient(
    147deg,
    rgba(30, 45, 105, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --grad-red: linear-gradient(
    90deg,
    rgba(255, 161, 151, 1) 0%,
    rgba(255, 74, 149, 1) 100%
  );

  // Font Family
  --ff-sans: 'Raleway', sans-serif;

  // Font Sizes
  --fs-300: #{rem(40)};
  --fs-200: #{rem(14)};
  --fs-100: #{rem(12)};

  // Transitions
  @media (prefers-reduced-motion: no-preference) {
    --transition: all 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    --transition: none;
  }
}
