@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  color: currentColor;
  transition: var(--transition);

  &-icon {
    height: rem(48);
    width: rem(48);
    background-color: hsl(var(--clr-blue-950) / 1);
    border-radius: rem(10);

    svg {
      opacity: 1;
      transition: var(--transition);
    }

    &:hover {
      background-color: hsl(var(--clr-blue-900) / 1);

      svg {
        opacity: 0.7;
      }
    }
  }
}
