@use '../util' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(201);
  width: 100%;
  max-width: rem(350);
  flex-shrink: 0;
  gap: rem(32);
  padding: rem(40);
  background-color: hsl(var(--clr-blue-850) / 1);
  border-radius: rem(10);
  border-top-right-radius: rem(100);
  box-shadow: 0 rem(75) rem(100) rgba(0, 0, 0, 0.24);

  &__logo {
    width: rem(135);
    height: rem(39.27);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: rem(16);
  }
}
