@use '../util' as *;

.modal {
  &-backdrop {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--clr-blue-950) / 0.65);
    z-index: 40;
    opacity: 0;
    transition: var(--transition);
  }

  &-enter {
    opacity: 1;

    .modal-wrapper {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &-exit {
    opacity: 0;

    .modal-wrapper {
      transform: translateY(20px) scale(0.95);
      opacity: 0;
    }
  }

  &-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }

  &-wrapper {
    background-color: hsl(var(--clr-blue-850) / 1);
    color: hsl(var(--clr-white) / 1);
    border-radius: rem(10);
    box-shadow: 0 rem(10) rem(15) hsl(var(--clr-blue-950) / 0.7);
    padding: rem(32);
    width: 100%;
    max-width: rem(500);
    margin: rem(16);
    transform: translateY(20px) scale(0.95);
    opacity: 0;
    transition: var(--transition);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: rem(16);
  }
}
