@use '../util' as *;

.modal {
  &-backdrop {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--clr-blue-950) / 0.5);
    z-index: 40;
  }

  &-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }

  &-wrapper {
    background-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-blue-600) / 1);
    border-radius: rem(10);
    box-shadow: 0 rem(75) rem(100) hsl(var(--clr-blue-950) / 0.5);
    padding: rem(32);
    width: 100%;
    max-width: rem(500);
    margin: rem(16);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: rem(16);
  }
}
